/* BEGIN TEXT COLOR */
.text-primary {
  color: #dc4312;
}

.text-secondary {
  color: #63636399;
}

.text-blue {
  color: #29cbff;
}
/* END TEXT COLOR */

/* BEGIN BUTTON */
.btn.btn--primary {
  color: white;
  border-color: transparent;
  background-color: #dc4312;
}

.btn.btn--primary {
  box-shadow: 0 0 0 1px #dc4312;
}
/* END BUTTON */

/* BEGIN BACKGROUND COLOR */
.bg-grey {
  background-color: rgb(128 134 137 / 50%);
}

.bg-blue-dark {
  background-color: #29c0ff;
}
/* END BACKGROUND COLOR */

/* BEGIN CONTAINER */
.container {
  padding: 0 65px;
}
/* BEGIN CONTAINER */

/* BEGIN HEADER  */
.header {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 20px;
  left: 80px;
  z-index: 1;
}
/* END HEADER */

/* BEGIN NAVBAR */
.navbar-list .navbar-list__item {
  padding: 8px 12px;
}

.navbar-list .navbar-list__item.active .navbar-list__link {
  color: #dc4312;
}

.navbar-list .navbar-list__link {
  color: #29cbff;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar-list .navbar-list__link:hover {
  color: #dc4312;
}
/* END NAVBAR */

/* BEGIN CAROUSEL */
.carousel {
  background-image: url("./../images/stalwart/23.jpg");
  height: 650px;
  position: relative;
}

.carousel .carousel-desc {
  max-width: 520px;
  position: absolute;
  top: 50%;
  right: 120px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* END CAROUSEL */

/* BEGIN BENEFIT */
.benefit .benefit-img {
  background-image: url("./../images/stalwart/index-serives.jpg");
  background-size: cover;
  background-clip: border-box;
  background-position: center center;
  height: 300px;
}
/* END BENEFIT */

/* BEGIN FOOTER */
.footer {
  background-color: #333;
}

.footer .footer-form {
  margin-top: 40px;
}

.footer-form .form__input {
  border: none;
  padding: 8px;
  width: 246px;
}

.footer-form .form__input + .btn {
  padding: 6px 8px;
}

.footer-form .form__input + .btn:focus,
.footer-form .form__input:focus {
  outline: none;
}
/* END FOOTER */
