/* BEGIN TEXT COLOR */
.text-primary {
  color: #82b62d;
}

.text-secondary {
  color: #63636399;
}
/* END TEXT COLOR */

/* BEGIN BUTTON */
.btn.btn--primary {
  color: white;
  border-color: transparent;
  background-color: #82b62d;
}

.btn.btn--primary {
  box-shadow: 0 0 0 1px #82b62d;
}
/* END BUTTON */

/* BEGIN CONTAINER */
.container {
  padding: 0 65px;
}
/* BEGIN CONTAINER */

/* BEGIN HEADER */
.header {
  padding: 22px 0 0;
}
/* END HEADER */

/* BEGIN NAVBAR */
.navbar .navbar-list {
  padding: 0;
}

.navbar-list .navbar-list__item {
  padding: 8px 12px;
}

.navbar-list .navbar-list__item.active .navbar-list__link {
  color: #de4c1d;
}

.navbar-list .navbar-list__link {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
}

.navbar-list .navbar-list__link:hover {
  color: #de4c1d;
}

.default-list.default-list--social {
  margin: 8px 30px;
}

.default-list.default-list--contact .default-list__link {
  color: #63636399;
}
/* END NAVBAR */

/* BEGIN CAROUSEL */
.carousel {
  background-image: url("./../images/travel/1.jpg");
  background-position: center center;
  height: 650px;
  position: relative;
}

.carousel .carousel-info {
  max-width: 470px;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel .carousel-control {
  margin-top: 120px;
}

.carousel-control .carousel-control__prev,
.carousel-control .carousel-control__next {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;

  margin: 0 4px;

  width: 12px;
  height: 12px;
}

.carousel-control .carousel-control__prev:hover,
.carousel-control .carousel-control__next:hover,
.carousel-control .carousel-control__prev.active,
.carousel-control .carousel-control__next.active {
  background-color: #82b62d;
}
/* END CAROUSEL */

/* BEGIN WELCOME & NEWS */
.news .news-thumbnail,
.welcome .welcome-thumbnail {
  height: 268px;
  overflow: hidden;
}

.news-thumbnail .news-thumbnail__img,
.welcome-thumbnail .welcome-thumbnail__img {
  width: 100%;
}
/* END WELCOME */

/* BEGIN FOOTER */
.footer .footer-banner {
  background-image: url("./../images/travel/5.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: content-box;
  height: 220px;
}

.footer-banner .banner-form {
  text-align: center;
  margin-top: 40px;
}

.banner-form .form__input {
  border: none;
  padding: 10px 8px;
  width: 360px;
}

.banner-form .form__input + .btn {
  padding: 7px 10px;
}

.banner-form .form__input:focus {
  outline: none;
}

.footer .footer-copywriter {
  background-color: #000;
  padding: 18px 0;
  text-align: center;
}
/* END FOOTER */

/* BEGIN GO TO TOP */
.move-top {
  position: fixed;
  right: 50px;
  bottom: 20px;
}
/* END GO TO TOP */
