/* BEGIN BUTTON */
.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;

  border: 1px solid white;

  min-width: 70px;
  padding: 4px 8px;

  transition: 0.3s;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px white;
}

/* END BUTTON */
